<div class="trust-badges-container">
  <div class="trust-badge">
    <div class="trust-badge-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 16.92V19.92C22 20.4704 21.7893 20.9978 21.4142 21.3728C21.0391 21.7479 20.5117 21.9586 19.96 21.96C16.4283 21.6118 13.0416 20.3726 10.1 18.36C7.33862 16.5064 5.06033 14.2281 3.20667 11.4667C1.18003 8.50468 -0.0609132 5.09293 0.00266699 1.53998C0.00451265 0.994085 0.212881 0.471684 0.582368 0.099701C0.951856 -0.272282 1.47377 -0.485941 2.01333 -0.48665H5.01333C6.06366 -0.499631 6.95468 0.271732 7.17333 1.29998C7.33432 2.30313 7.60644 3.28334 7.98667 4.21998C8.26677 4.85536 8.10842 5.59303 7.60667 6.09998L6.09333 7.61332C7.80094 10.4624 10.0377 12.6991 12.8867 14.4067L14.4 12.8933C14.907 12.3916 15.6447 12.2332 16.28 12.5133C17.2166 12.8936 18.1968 13.1657 19.2 13.3267C20.2569 13.5482 20.9981 14.4755 21 15.54L22 16.92Z" fill="#FFCC00"/>
      </svg>
    </div>
    <div class="trust-badge-content">
      <h3>La team support Golden</h3>
      <p>Notre équipe vous répond tous les jours en moins de 24h</p>
    </div>
  </div>
  
  <div class="trust-badge">
    <div class="trust-badge-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.1667 7.33333H4.83333C3.45262 7.33333 2.33333 8.45262 2.33333 9.83333V17.5C2.33333 18.8807 3.45262 20 4.83333 20H19.1667C20.5474 20 21.6667 18.8807 21.6667 17.5V9.83333C21.6667 8.45262 20.5474 7.33333 19.1667 7.33333Z" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.6667 20V5.83333C16.6667 5.17029 16.4033 4.53441 15.9345 4.06556C15.4656 3.59672 14.8297 3.33333 14.1667 3.33333H9.83333C9.17029 3.33333 8.53441 3.59672 8.06556 4.06556C7.59672 4.53441 7.33333 5.17029 7.33333 5.83333V20" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="trust-badge-content">
      <h3>Livraison rapide anonyme</h3>
      <p>Votre commande est expédiée anonymement sous 24h à 48h</p>
    </div>
  </div>
  
  <div class="trust-badge">
    <div class="trust-badge-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.21 13.8899L11 16.6699L15.79 11.8799" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="trust-badge-content">
      <h3>Qualité Premium garantie</h3>
      <p>Nos méthodes préservent le cannabinoïde de nos produits</p>
    </div>
  </div>
  
  <div class="trust-badge">
    <div class="trust-badge-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 15H18M6 9H18" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 3L16 21" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 3L8 21" stroke="#FFCC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="trust-badge-content">
      <h3>100% légalisé en Europe</h3>
      <p>Nos produits sont certifiés en laboratoire à -0,3% de THC</p>
    </div>
  </div>
</div>