{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="page-width page-width--narrow">
  {%- unless page.title == blank -%}
    <header class="section-header text-center">
      <div class="main-page-title page-title h1">
        {{ page.title | escape }}
      </div>
    </header>
  {%- endunless -%}

  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page (titre en div)",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}